.clock {
  width: 325px;
  height: 325px;
  position: relative;
  border-radius: 50%;
  background-color: #eeeeee;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.15),
    -8px -8px 14px 0 rgba(255, 255, 255, 0.35);
}
.clock::after {
  content: '';
  position: absolute;
  background-color: #4e4e4e;
  z-index: 2;
  width: 5%;
  height: 5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 5;
}
.hand {
  --rotate: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotate) * 1deg));
}
.hour {
  height: 30%;
  width: 6px;
  border-radius: 5px;
  background-color: #5f5f5f;
  /* border: 1px solid #2f2f2f2f; */
  z-index: 4;
}
.minute {
  height: 35%;
  width: 4px;
  border-radius: 5px;
  background-color: #afcfff;
  z-index: 3;
}
.second {
  height: 40%;
  width: 2px;
  border-radius: 5px;
  background-color: #ffcdcd;
  z-index: 2;
}
.num {
  position: absolute;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  --rotate: 0deg;
  transform: rotate(var(--rotate)) scale(0.95);
}
.num__1 {
  --rotate: 30deg;
}
.num__2 {
  --rotate: 60deg;
}
.num__3 {
  --rotate: 90deg;
}
.num__4 {
  --rotate: 120deg;
}
.num__5 {
  --rotate: 150deg;
}
.num__6 {
  --rotate: 180deg;
}
.num__7 {
  --rotate: 210deg;
}
.num__8 {
  --rotate: 240deg;
}
.num__9 {
  --rotate: 270deg;
}
.num__10 {
  --rotate: 300deg;
}
.num__11 {
  --rotate: 330deg;
}
