@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
  transition: all ease-in-out 300ms;
  font-family: 'MuseoModerno', cursive;
  overflow: hidden;
}

#root {
  height: 100%;
  display: grid;
  place-items: center;
}
